body {
    margin: 0;
    padding: 0;
    background-color: #a3a4ce;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    /*font-size: 1.5rem;*/
}



.animation {
    width: 1000px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 20px;
}

.animation div {
    text-align: center;
}

.card-red {
    background-image: url("img/01.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    animation: linear 15s red infinite;
}

.card-orange {
    background-image: url("img/02.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    animation: linear 15s orange infinite;
}

.card-yellow {
    background-image: url("img/03.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    animation: linear 15s yellow infinite;
}

.card-green {
    background-image: url("img/04.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    animation: linear 15s green infinite;
}

.card-lightblue {
    background-image: url("img/05.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    animation: linear 15s lightblue infinite;
}

.card-blue {
    background-image: url("img/08.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    animation: linear 15s blue infinite;
}

.card-magenta {
    background-image: url("img/09.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    animation: linear 15s magenta infinite;
}


@keyframes red {
    0% {
        transform: translate(10px);
        width: 10%;
        height: 50%;
        z-index: 1;
        font-size: 1.5rem;
    }
    16% {
        transform: translate(143px);
        width: 12%;
        height: 60%;
        z-index: 10;
        font-size: 1.8rem;
    }
    29% {
        transform: translate(286px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    43% {
        transform: translate(430px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    57% {
        transform: translate(573px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    71% {
        transform: translate(717px);
        width: 12%;
        height: 60%;
        z-index: 10;
        font-size: 1.8rem;
    }
    86% {
        transform: translate(860px);
        width: 10%;
        height: 50%;
        z-index: 10;
        font-size: 1.5rem;
    }
    100% {
        transform: translate(10px);
        width: 10%;
        height: 50%;
        z-index: 1;
        font-size: 1.5rem;
    }
}
@keyframes orange {
    0% {
        transform: translate(10px);
        width: 12%;
        height: 60%;
        z-index: 10;
        font-size: 1.8rem;
    }
    16% {
        transform: translate(143px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    29% {
        transform: translate(286px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    43% {
        transform: translate(430px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    57% {
        transform: translate(573px);
        width: 12%;
        height: 60%;
        z-index: 10;
        font-size: 1.8rem;
    }
    71% {
        transform: translate(717px);
        width: 10%;
        height: 50%;
        z-index: 1;
        font-size: 1.5rem;
    }
    86% {
        transform: translate(-143px);
        width: 10%;
        height: 50%;
        z-index: 1;
        font-size: 1.5rem;
    }
    100% {
        transform: translate(0px);
        width: 12%;
        height: 60%;
        z-index: 10;
        font-size: 1.8rem;
    }
}

@keyframes yellow {
    0% {
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    16% {
        transform: translate(143px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    29% {
        transform: translate(286px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    43% {
        transform: translate(430px);
        width: 12%;
        height: 60%;
        z-index: 10;
        font-size: 1.8rem;
    }
    57% {
        transform: translate(573px);
        width: 10%;
        height: 50%;
        z-index: 1;
        font-size: 1.5rem;
    }
    71% {
        transform: translate(-286px);
        width: 10%;
        height: 50%;
        z-index: 1;
        font-size: 1.5rem;
    }
    86% {
        transform: translate(-143px);
        width: 12%;
        height: 60%;
        z-index: 10;
        font-size: 1.8rem;
    }
    100% {
        transform: translate(0px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
}
@keyframes green {
    0% {
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    16% {
        transform: translate(143px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    29% {
        transform: translate(286px);
        width: 12%;
        height: 60%;
        z-index: 10;
        font-size: 1.8rem;
    }
    43% {
        transform: translate(430px);
        width: 10%;
        height: 50%;
        z-index: 1;
        font-size: 1.5rem;
    }
    57% {
        transform: translate(-430px);
        width: 10%;
        height: 50%;
        z-index: 1;
        font-size: 1.5rem;
    }
    71% {
        transform: translate(-286px);
        width: 12%;
        height: 60%;
        z-index: 10;
        font-size: 1.8rem;
    }
    86% {
        transform: translate(-143px);
        width: 14%;
        height: 70%;
        z-index: 10;
    }
    100% {
        transform: translate(0px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
}
@keyframes lightblue {
    0% {
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    16% {
        transform: translate(143px);
        width: 12%;
        height: 60%;
        z-index: 10;
        font-size: 1.8rem;
    }
    29% {
        transform: translate(286px);
        width: 10%;
        height: 50%;
        z-index: 1;
        font-size: 1.5rem;
    }
    43% {
        transform: translate(-573px);
        width: 10%;
        height: 50%;
        z-index: 1;
        font-size: 1.5rem;
    }
    57% {
        transform: translate(-430px);
        width: 12%;
        height: 60%;
        z-index: 10;
        font-size: 1.8rem;
    }
    71% {
        transform: translate(-286px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    86% {
        transform: translate(-143px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    100% {
        transform: translate(0px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
}
@keyframes blue {
    0% {
        width: 12%;
        height: 60%;
        z-index: 10;
        font-size: 1.8rem;
    }
    16% {
        transform: translate(143px);
        width: 10%;
        height: 50%;
        z-index: 1;
        font-size: 1.5rem;
    }
    29% {
        transform: translate(-717px);
        width: 10%;
        height: 50%;
        z-index: 1;
        font-size: 1.5rem;
    }
    43% {
        transform: translate(-573px);
        width: 12%;
        height: 60%;
        z-index: 10;
        font-size: 1.8rem;
    }
    57% {
        transform: translate(-430px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    71% {
        transform: translate(-286px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    86% {
        transform: translate(-143px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    100% {
        transform: translate(0px);
        width: 12%;
        height: 60%;
        z-index: 10;
        font-size: 1.8rem;
    }
}
@keyframes magenta {
    0% {
        transform: translate(-20px);
        width: 10%;
        height: 50%;
        z-index: 1;
        font-size: 1.5rem;
    }
    16% {
        transform: translate(-860px);
        width: 10%;
        height: 50%;
        z-index: 1;
        font-size: 1.5rem;
    }
    29% {
        transform: translate(-717px);
        width: 12%;
        height: 60%;
        z-index: 10;
        font-size: 1.8rem;
    }
    43% {
        transform: translate(-573px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    57% {
        transform: translate(-430px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    71% {
        transform: translate(-286px);
        width: 14%;
        height: 70%;
        z-index: 10;
        font-size: 2.1rem;
    }
    86% {
        transform: translate(-143px);
        width: 12%;
        height: 60%;
        z-index: 10;
        font-size: 1.8rem;
    }
    100% {
        transform: translate(-0px);
        width: 10%;
        height: 50%;
        z-index: 1;
        font-size: 1.5rem;
    }
}



